@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<audio controls controlsList="nodownload">
    <source src="br-content\uploads\audio\lordoftherings.mp4" type="audio/mpeg">
</audio>
<video controls controlsList="nodownload">
    <source src="br-content\uploads\video\Hiding.mp4" type="video/mp4"/>
</video>

<iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oJYGSy6fRic"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
